<div class="qListTile">
  <div class="qListUpper">
    <span class="qListHeader">{{question.header}}</span>
  </div>
  <div class="qListMiddle">
    <span class="qListTimestamp">{{question.timestamp}}</span>
    <span class="qListAskedBy">asked by <span class="qListUser">{{question.user.username}}</span></span>
  </div>
  <div class="qListLower">
    <span class="qListPreview">{{contentPreview}}</span>
  </div>
</div>
