<header>
<h1>Question Board</h1>
<nav>
  <ul>
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'questions'}}Questions{{/link-to}}</li>
    <li>{{#link-to 'ask'}}Ask{{/link-to}}</li>
    <li>{{#link-to 'users'}}Users{{/link-to}}</li>
    <li>{{#link-to 'about'}}About{{/link-to}}</li>
    <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
  </ul>
</nav>
{{login-header tagName="login-header"}}
</header>

<main>
  {{outlet}}
</main>

<footer>
  Question Board 2016
</footer>
